<div class="game-container">
  <div class="cards-container" data-controller="game">
    <% @card_values.each do |value| %>
      <%= render(partial: "shared/card", locals: {value: value}) %>
    <% end %>
  </div>
</div>
